In [17]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel('D:\Project\Brain Stroke\Preprocessing_Brainstroke.xlsx')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [11]:
import seaborn as sns

In [22]:
result = df.pivot(index='id',columns='heart_disease',values='stroke')
print(result)

heart_disease    0    1
id
1              NaN  0.0
4              0.0  NaN
6              0.0  NaN
7              0.0  NaN
8              0.0  NaN
...            ...  ...
72938          0.0  NaN
72939          0.0  NaN
72940          0.0  NaN
72941          0.0  NaN
72943          0.0  NaN

[43400 rows x 2 columns]

In [23]:
labels = (np.asarray(["{0} \n {1:.2f}".format(symb,value)
                      for symb, value in zip(symbol.flatten(),
                                               perchange.flatten())])
         ).reshape(6,5)

NameError: name 'labels' is not defined